<p id="notice"><%= notice %></p>

<h1>Arrendatarios</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Correo</th>
      <th>Email</th>
      <th>Cc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @arrendatarios.each do |arrendatario| %>
      <tr>
        <td><%= arrendatario.nombre %></td>
        <td><%= arrendatario.telefono %></td>
        <td><%= arrendatario.correo %></td>
        <td><%= arrendatario.email %></td>
        <td><%= arrendatario.cc %></td>
        <td><%= link_to 'Show', arrendatario %></td>
        <td><%= link_to 'Edit', edit_arrendatario_path(arrendatario) %></td>
        <td><%= link_to 'Destroy', arrendatario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Arrendatario', new_arrendatario_path %>
